/* Assigns:
Text color #3D3D3D to elements inside body tags
Text color #FF0000 to any elements of class .red that are the first children of the body
*/
$text-color: #3d3d3d;
$text-red: #ff0000;

body {
  color: $text-color;
  > .red {
    color: $text-red;
  }
}
